# IntelliJ IDEA project files
.idea
bin/
out/
*.iml
*.ipr
*.iws
gen/


local.properties

# Java build files

*.class

# maven build folder
target/

# Temp files
*.bak
*.tmp
*.temp
*.swp
*.vpp~*
*.*~
~*.*


# OS auto gen folder information
.DS_Store
Thumbs.db